html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
a:link{
  color: azure;
  text-decoration: none;
}
a:visited{
  color: azure;
  text-decoration: none;
}
a:active {
  color: azure;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.App-nav {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.App-ul-nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.App-li-nav {
  max-height: 20%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  list-style-type: none ;
}

.card{
  margin-bottom: 10px;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}